RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://infocrumb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://infocrumb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://infocrumb.josepresources.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://infocrumb.josepresources.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://josepresources.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://josepresources.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.infocrumb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.infocrumb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.infocrumb.josepresources.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.infocrumb.josepresources.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.josepresources.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.josepresources.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://infocrumb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://infocrumb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://infocrumb.josepresources.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://infocrumb.josepresources.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://josepresources.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://josepresources.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.infocrumb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.infocrumb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.infocrumb.josepresources.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.infocrumb.josepresources.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.josepresources.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.josepresources.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

